<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <title>Categories</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="/">
            GuiaPress
        </a>
       
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/admin/articles">Artigos</a>
            </li>
        <li class="nav-item">
                <a class="nav-link" href="/admin/categories">Categorias</a>
            </li>
        </ul>
 </nav>
    <div class="container">
        <hr>
        <h2></h2>
        <a class="btn btn-success" href="/admin/articles/new">Criar novo artigo</a>
        <hr>
        <table class="table table-bordered">
            <thead>
                <tr> <!---LINHA-->
                    <th>ID</th><!---COLUNA DA TABELA--> 
                    <th>Titulo</th>
                    <th>Slug</th>
                    <th>categoria</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody> 
                <% articles.forEach(article => { %>
                    <tr>
                    <td><%= article.id %></td><!---COLUNA DA TABELA--> 
                    <td><%= article.title%></td>
                    <td><%= article.slug%></td>
                    <td><%= article.category.title%></td>
                    <td>
                        <form method="POST" action="/articles/delete" style="display:inline;" onsubmit="confirmarDelecao(event, this)">
                            <input type="hidden" name="id" value="<%= article.id %>">
                            <button class="btn btn-danger">Deletar</button>
                       </form>
                    </td>
                </tr>
               <% }) %>

            </tbody>
        </table>
    </div>


<script>
    function confirmarDelecao(event, form){
        event.preventDefault();
        let decision = confirm("Você tem certeza que deseja deletar este artigo?");
        if (decision) {
            form.submit();
        }
    }
</script>


    
</body>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="/js/bootstrap.min.js"></script>

</html>